body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#home-section {
    position: relative;
}

#home-section video {
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
    bottom: 0;
}

nav a {
    color: white;
    text-decoration: none;
    float: right;
    font-size: 20px;
    display: block;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 10px;
}

.introductory-content {
    padding: 270px;
}

.introductory-content h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.introductory-content p {
    color: white;
    font-size: 25px;
    text-align: center;
}

.getstart-btn {
    margin-left: 40%;
    text-decoration: none;
    padding: 30px 60px;
    background: #A245EF;
    border-radius: 50px;
    color: white;
    margin-top: 33px;
    display: inline-block;
    transition:1s;
}
.getstart-btn:hover{
	background: #8c18f6;
}